<template data-controller-name="sap.sapx05.controller.HTMLView">
	<div data-sap-ui-type="sap.m.Page" data-title="Exercise 5 - HTML View">
		<div data-sap-ui-aggregation="content">
			<div data-sap-ui-type="sap.m.Label" id="lblFirstName" data-text="HTML First Name:"></div>
			<div data-sap-ui-type="sap.m.Input" id="inpFirstName" data-value=""></div>
			<div data-sap-ui-type="sap.m.Label" id="lblLastName" data-text="HTML Last Name:"></div>
			<div data-sap-ui-type="sap.m.Input" id="inpLastName" data-value=""></div>
		</div>
	</div>
</template>